.list-card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 52px;
  min-height: 52px;
  border-radius: 12px;
  border-color: #7785db;
  border-width: 1px;
  border-style: solid;
  padding-top: 12px;
  padding-left: 12px;
  margin-bottom: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  object-fit: contain;
  cursor: pointer;
}

.list-card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 94%;
}

.list-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #7785db;
  margin-bottom: 4px;
}

.list-card-subtitle {
  font-size: 14px;
}

.arrow-icon {
  width: 12px;
  height: 16px;
  object-fit: contain;
  padding-top: 13px;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .list-card-text-container {
    width: 84%;
  }
}

@media screen and (max-width: 420px) {
  .list-card-text-container {
    width: 70%;
  }
}
