.list-render-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  height: 72vh;
  padding: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 32px;
}

@media screen and (max-width: 420px) {
  .list-render-container {
    width: 100%;
  }
}
